<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression" parallel="false" thread-count="2"
	annotations="">
	<!-- <listeners> <listener class-name="util.DataBaseCustomReporter" /> </listeners> -->
	<test name="Chrome">
		<parameter name="browser" value="chrome" />
		<parameter name="browsername" value="Chrome Browser" />
		<classes>
			<class name="welcomePage.LaunchAlhpastreetwebsite"></class>
			<class name="welcomePage.Login"></class>
			<class name="homePage.HomepageConfirmation_Check"></class>
			<class name="myPortfolios.AddPortfolio"></class>
		</classes>
	</test>

	<!-- <test name="Firefox"> <parameter name="browser" value="firefox" /> 
		<parameter name="browsername" value="FireFox Browser" /> <classes> <class 
		name="welcomepage.WelcomepageValidation"> <methods> <include name="successfullyLaunchedBaseURL"></include> 
		</methods> </class> <class name="scenario.Login"><methods><include name="loginWith_validValues"></include></methods></class> 
		<class name="smoke.CutClip"> <methods><include name="cutclipByFrames_PreviewType"></include></methods></class> 
		</classes> </test> -->
	<!-- <test name="IE"> <parameter name="browser" value="ie" /> <parameter 
		name="browsername" value="IE Browser" /> <classes> <class name="welcomepage.WelcomepageValidation"> 
		<methods> <include name="welcomepageConfirmation"></include> </methods> </class> 
		<class name="scenario.Login"></class> </classes> </test> -->
</suite>